.spinner-container{
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .loader{
  height: 60px;
  width: 60px;
  border: 6px solid #FFC107;
  border-radius: 5px;
  box-shadow:  0 0 8px #FFC107, 0 0 8px #FFC107 inset;
  animation: 2s loadingAnim  ease-in-out infinite;

 }
 @keyframes loadingAnim {
  0%{
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  33%{
    transform: rotateX(180deg) rotateY(0) rotateZ(0);
  }
  66%{
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
  }
  100%{
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
} 

body {
  font-family: 'Roboto', sans-serif;
}
@keyframes onScrollAnim {
  from{
    opacity: 0;
    /* sc/ale: 0.5; */
  }
  to{
    opacity: 1;
  }
}

.bg{
  background-color: #fff;
  overflow: hidden;
}
#logo{
    width: 80px; 
    height: auto; 
    max-height: 50px; 
    font-weight: bold; 
}
.myheader{
  top: 0;
  z-index: 9999999;
}
#CustomNavbar{
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3 ease;
    width: 100%; 
    z-index:9999999; 
    top: 0  
}
.myheader{
  margin-top: -100px;
}

@media(max-width:576){
  .myheader{
    z-index: 100000; 
    top: 0;
    margin-top: -100px;
  }
}
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:hover {
  color: #ffc107 !important;
  text-decoration: underline;
  transform: scale(1.1);
}

@media(max-width:576){
    .navbar-nav .nav-item{
        margin-left: 10px;
    }
}
.input-resize {
  transition:  0.3s ease-in-out;
  width: 50px;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.5); ;
  border: 2px solid white;
}

/* Styles applied when input is clicked */
.input-resize:focus {
  width: 350px; /* Desired width on focus */
}

.nav-link {
    color:#fff; 
    font-weight: bolder; 
}
.navbar-toggler{
    color: white;
}
.navbar-toggler-icon {
    background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
   
  }


  .navbar-logo {
    width: 100px; 
    height: auto; 
    max-height: 50px; 
    font-weight: bold; 
  }
  
  @media (max-width: 768px) {
    .navbar-logo {
      width: 80px;
      max-height: 40px;
    }
  }
 /* Home cards designs */
.card1 {
    background-size: cover;
    object-fit: cover;
    background-position: center;
    max-width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: bold;
    margin-bottom: 10%;
    animation: onScrollAnim 1s ;

  }
  .card-body-title {
    width: 100%;  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .tacocard:hover .card-body-title {
    opacity: 1;
  }
  
/* footer design here */
footer {
    border-top: 3px solid #d4ac0d;
    max-height: 300px;
    background-size: cover;
    color: white;
    padding-top: 50px;
  }
  
  footer .col-lg-6, footer .col-md-12 {
    margin-bottom: 20px;
    background-color: #000;
    
  }
.menu1-item {
  position: relative;
  overflow: hidden;
  height: 300px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}
.menu1-item:hover{
  opacity: 0.7;
}
.menu1-item img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  
}
.menu1-item h4 {
  margin-top: 10px;
}

.menu1-item p {
  margin: 5px 0;
}
.btn-order {
  background-color: #FFC107;
  color: #fff;
  border: none;
  padding: 7px 10px;
  border-radius: 40px;
  font-weight: bold;
  margin-top: 10px;
}
 .carousel-caption { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
} 
.input-resize { 
  width: 50px; 
  height: 40px; 
  border-radius: 25px;  
  transition: width 0.3s ease;
  padding: 0 10px; 
  outline: none; 
}  
.input-resize:focus { 
  width: 300px; /* Larger width when focused */ 
}

.bossons-items img{
  height: 70px;
}
.taco-items{
  width: 40%;
}
.btn-add-to-cart {
  background-color: #FFC107;
  position: relative;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}
.order-header-text ul li {
  list-style-type: none;
}
.order-header-text ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.order-image{
  height: 100px;
  width: 100px;
}
.contact-card{
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.contact-icon-style { 
  font-size: 2rem; 
  color: #FFFFFF; 
  background-color: #ffc107; 
  border-radius: 50%; 
  padding: 10px; 
  display: flex; 
  align-items: 
  center; 
  justify-content: 
  center; 
  width: 3rem; 
  height: 3rem; 
  margin-right: 10px;
}
.contact-form-style{
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}
#myUL{
  list-style-type: none;
}
#myUL a {
  text-decoration:none;
  color: black;
}
#myUL img {
  height:80px;
  width: 80px;
}
.offcanvas{
  transition: transform 0.9s ease-in-out;
}
.accueilslideshow{
  transition: transform 0.3s ease-in-out;
}

.accueilslideshow:hover{
  transform: scale(1.1, 1.1);
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
  }
  40% {
      transform: translateX(-10px);
  }
  60% {
      transform: translateX(-5px);
    }
}

.bounce {
  animation: bounce 0.5s;
}

/* Applying the animation to the modal */
.modal.fade .modal-dialog {
  animation: fadeInUp 0.5s ease-in-out;
}
@keyframes fadeInUp { 
  0% { 
    opacity: 0; 
    transform: translateY(100px); 
  }  
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  } 
} 
.modal.fade .modal-dialog { 
  animation: fadeInUp 0.5s ease-in-out; 
}
 .parallax {
  background-image: url("../src/bg3.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
.menu1{
  background-color: #fff;
  
}

.fastfoodcarousel{
  transition: transform 0.3s ease-in-out;
}
.fastfoodcarousel:hover{
  transform: scale(1.3);
}
.seafoodcarousel{
  transition: transform 0.3s ease-in-out;
}
.seafoodcarousel:hover{
  transform: scale(1.3);
}
.pttcarousel{
  transition: transform 0.3s ease-in-out;
}
.pttcarousel:hover{
  transform: scale(1.3);
}

.menu1 {  /* div open menu  */
  background-color: rgb(255, 165, 0); 
  margin-top: 10%;
  height: 380px;
  padding: 80px;
} 
.input-resize { 
  transition: width 0.3s ease; width: 200px; /* Initial width */ 
} 
.input-resize:focus { 
  width: 400px; /* Width when focused */ 
}
.footer{
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3 ease;
}

/* header carousel  items */
.header-c-items{
  height: 700px;
}
.c-image{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
/* Default position for larger screens */
#cart-count {
  left: 34% !important;
}

.cart-icon-container {
  display: flex;
  align-items: center;
}

/* @media (max-width: 576px) {
  .cart-icon-container {
      order: -1;
      margin-left: 0; 
  }
  #cart-count {
      left: 28% !important; 
  }
} */

